.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border:0;
}
.categories img{
    width: 100px;
    border-radius: 2em;

}
.panda-slide .carousel-item{
    background-color: antiquewhite;
    border-radius: 2em;

}